@font-face {
    font-family:"Prociono";
    src: url("../font/Prociono-Regular-webfont.ttf");
}
html {
    overflow-y: scroll;
}

.alert {
    border-radius: 4px 4px 4px 4px;
}

/*.btn{
    font-family:"Prociono";
    color: #102D36;

    border: 2px solid #999999;
    border-radius: 4px 4px 4px 4px;
    font-size: 24px;
    height: 32px;
    line-height: 19px;
    margin-top: 8px;

    background: -moz-linear-gradient(
        top,
        #F2C64E 0%,
        #588fad);
    background: -webkit-gradient(
        linear, left top, left bottom,
        from(#F2C64E),
        to(#588fad)
        );
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border: 1px solid #003366;
    -moz-box-shadow:
        0px 1px 3px rgba(000,000,000,0.5),
        inset 0px 0px 1px rgba(255,255,255,1);
    -webkit-box-shadow:
        0px 1px 3px rgba(000,000,000,0.5),
        inset 0px 0px 1px rgba(255,255,255,1);
    box-shadow:
        0px 1px 3px rgba(000,000,000,0.5),
        inset 0px 0px 1px rgba(255,255,255,1);
    text-shadow:
        0px -1px 0px rgba(000,000,000,0.7),
        0px 1px 0px rgba(255,255,255,0.3);
}
.btn:hover{
    background: #F2C64E;
    color:black;
}
*/

/*body {
    font-family: "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif;
    color: #F2C64E;
    background-color: #102D36;
    text-align: left;
    margin-left: 50px;
    margin-right: 100px;

}

h1{
text-shadow: 0 0 7px #8F9CA1;
}

.navbar-form{
    margin-left: 0px;
}

.title, .example-name {
    font-family: Prociono;
}
p {
    margin: 0 0 10px;
}
*/
.typeahead, .tt-query, .tt-hint {
    border: 2px solid #CCCCCC;
    border-radius: 4px 4px 4px 4px;
    font-size: 24px;
    height: 30px;
    line-height: 30px;
    outline: medium none;
    padding: 8px 12px;
    width: 396px;
}
.typeahead {
    background-color: #FFFFFF;
}
.typeahead:focus {
    border: 2px solid #0097CF;
}
.tt-query {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}
.tt-hint {
    color: #999999;
}
.tt-dropdown-menu {
    color: black;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    margin-top: 12px;
    padding: 8px 0;
    width: 422px;
    text-align: left;
}
.tt-suggestion {
    font-size: 18px;
    line-height: 24px;
    padding: 3px 20px;
}
.tt-suggestion.tt-cursor {
    background-color: #0097CF;
    color: #FFFFFF;
}
.tt-suggestion p {
    margin: 0;
}

/* Overall layout
#bio-container, #info-container {
    float: left;
    color:#CF8300;
}

#bio-container {
    width: 30%;
}

#info-container {
    padding-top: 70px;
    padding-left: 30px;
    width: 530px;
}
 */
.error-img {
    width: 100%;
    padding-bottom: 10px;
}

/*Map Style*/
#map-canvas{
    width: 500px;
    height: 500px;
    margin: auto;
}
